<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="sim assembly">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0115447407848694 0.0609398552650222 0.014868409560258"
        rpy="0 0 0" />
      <mass
        value="2.51319715385182" />
      <inertia
        ixx="0.00762348083787246"
        ixy="-1.72626756078402E-17"
        ixz="-8.67366172021146E-19"
        iyy="0.0125663701429239"
        iyz="-5.83014458174306E-20"
        izz="0.00762348083787245" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://sim assembly/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://sim assembly/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_1">
    <inertial>
      <origin
        xyz="-3.46944695195361E-18 -1.73472347597681E-18 0.00372567937390752"
        rpy="0 0 0" />
      <mass
        value="1.00675259583468" />
      <inertia
        ixx="0.00255667430558721"
        ixy="0"
        ixz="-4.15944314813778E-19"
        iyy="0.00247257251492068"
        iyz="-2.36751593219894E-20"
        izz="0.00483344220726245" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://sim assembly/meshes/link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://sim assembly/meshes/link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_1"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link_1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="-0.124052366257305 0.000273518659855407 6.07153216591882E-16"
        rpy="0 0 0" />
      <mass
        value="1.69351768777757" />
      <inertia
        ixx="0.00191102427804702"
        ixy="3.31020475786981E-18"
        ixz="4.06575814682064E-20"
        iyy="0.0133365104968532"
        iyz="4.33680868994202E-19"
        izz="0.0124250052952709" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://sim assembly/meshes/link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://sim assembly/meshes/link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_2"
    type="revolute">
    <origin
      xyz="0 0 0.15"
      rpy="0 0 0" />
    <parent
      link="link_1" />
    <child
      link="link_2" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_3">
    <inertial>
      <origin
        xyz="-0.15 1.11022302462516E-16 2.70616862252382E-16"
        rpy="0 0 0" />
      <mass
        value="1.99233183799962" />
      <inertia
        ixx="0.00213659115946803"
        ixy="1.03676832743926E-17"
        ixz="6.23416249179165E-18"
        iyy="0.0206728575144595"
        iyz="0"
        izz="0.019701800692628" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://sim assembly/meshes/link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://sim assembly/meshes/link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_3"
    type="revolute">
    <origin
      xyz="0 0 0.3"
      rpy="0 0 0" />
    <parent
      link="link_2" />
    <child
      link="link_3" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_4">
    <inertial>
      <origin
        xyz="-0.00218769109391546 -2.22044604925031E-16 -0.0256375249538302"
        rpy="0 0 0" />
      <mass
        value="0.065137166941154" />
      <inertia
        ixx="2.94291201232329E-05"
        ixy="1.77876918923403E-20"
        ixz="-1.35525271560688E-20"
        iyy="3.60247324849482E-05"
        iyz="2.51992301808154E-20"
        izz="4.35573374852346E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://sim assembly/meshes/link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://sim assembly/meshes/link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_4"
    type="revolute">
    <origin
      xyz="0 0 0.3"
      rpy="0 0 0" />
    <parent
      link="link_3" />
    <child
      link="link_4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_5">
    <inertial>
      <origin
        xyz="-5.55111512312578E-17 -2.77555756156289E-17 -0.00863792273172934"
        rpy="0 0 0" />
      <mass
        value="0.0294109513774519" />
      <inertia
        ixx="3.06783737898048E-05"
        ixy="4.44692297308508E-20"
        ixz="-4.2351647362715E-22"
        iyy="7.8146618506747E-06"
        iyz="-1.73641754187132E-20"
        izz="2.65785326463946E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://sim assembly/meshes/link_5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://sim assembly/meshes/link_5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_5"
    type="revolute">
    <origin
      xyz="0 0 0.05"
      rpy="0 0 0" />
    <parent
      link="link_4" />
    <child
      link="link_5" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_6">
    <inertial>
      <origin
        xyz="0.0322641384583597 -0.0401523836542004 1.11022302462516E-16"
        rpy="0 0 0" />
      <mass
        value="0.0644367967662147" />
      <inertia
        ixx="7.05472756814348E-05"
        ixy="-8.65992809126488E-06"
        ixz="2.03287907341032E-20"
        iyy="8.42898505619135E-06"
        iyz="-6.01922788142587E-20"
        izz="7.65598808588931E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://sim assembly/meshes/link_6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.501960784313725 0.501960784313725 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://sim assembly/meshes/link_6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_6"
    type="revolute">
    <origin
      xyz="0 0 0.125"
      rpy="0 0 0" />
    <parent
      link="link_5" />
    <child
      link="link_6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>